html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // import list.js from node_modules
    script(src='/scripts/list.js/dist/list.min.js')
    script(src='/javascripts/app.js')
  body
    h1= title
    .container
      aside#webtoonList.column
        div.aside-top
          div.aside-top-info
            div.category
              select#selectBox
                each cate in categories
                  option(value=`${cate.location}`) #{cate.name}
              div.date (#{date} 기준)
            div.result
              span#total total: 
                span#totalNum 0
              span#searched.hidden
                span#searchedNum 0
                span#searchedSuffix / 0 searched
              span#notFound.hidden result not found
          div.controls
            input.search(placeholder="Search")
            button.sort(data-sort="fav") Fav
            if hasState
              button.sort.asc(data-sort="state" data-default-order="desc") State
            button.sort.asc(data-sort="index" data-default-order="desc") Idx
            button.sort.asc(data-sort="view" data-default-order="desc") View
            button.sort.asc(data-sort="rating" data-default-order="desc") Rating
        ul.list
          each webtoon in webtoons
            li(class=`star${webtoon.step}` data-id=`${webtoon.id}`)
              span
                i.fav.fa-star
                span.title #{webtoon.title}
                  span.author #{webtoon.author}
                    svg(width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true")
                      path(d="M13.575 8.948a.866.866 0 0 1 0 1.104C12.594 11.253 10.02 14 7 14S1.406 11.253.425 10.052a.866.866 0 0 1 0-1.104C1.406 7.746 3.98 5 7 5s5.594 2.746 6.575 3.948Z" fill="#999")
                      circle(cx="7" cy="9.5" r="3" fill="#fff")
                      circle(cx="7" cy="9.5" r="2" fill="#999")
                    span.view #{webtoon.viewCount}
              span.index.hidden #{webtoon.index}
              span
                if webtoon.state
                  span.state.text-box #{webtoon.state}
                span.rating.text-box #{webtoon.rating}
      main.column
        div.wrapper.markdown-body

