html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // import list.js from node_modules
    script(src='/scripts/list.js/dist/list.min.js')
    script(src='/javascripts/app.js')
  body
    h1= title
    .container
      aside#webtoonList.column
        div.controls
          input.search(placeholder="Search")
          button.sort.asc(data-sort="rating" data-default-order="desc") Sort
        ul.list
          each webtoon in webtoonData
            li(class=`star${webtoon.step}` data-id=`${webtoon.id}`)
              span.title #{webtoon.title}
                span.author #{webtoon.author}
              span.rating #{webtoon.rating}
      main.column
        div.wrapper.markdown-body

